
body{
    margin: 0;
    font-size: 20px;
    text-align: center;
    /*background-color: lightsalmon;*/
}
div{
    /*color: #fff;*/
}
img{
    /*display: block;*/
}
.rW{
    background: firebrick;
    color: #fff;
    line-height: 40px;
    margin-bottom: 5px;
}
.bW{
    color: #fff;
    background-color: deepskyblue;
    line-height: 40px;
}





















